{% extends "base.html" %} {% block header %}

<div class="jumbotron shadow">
  <p class="h3 text-center">Welcome to Anime Alert Bot</p>
  <blockquote class="blockquote w-75 mx-auto text-justify">
    As the name suggests Anime Alert Bot alerts you by sending a notification to
    you on your telegram app when a new episode of your favorite anime is
    available to watch!
  </blockquote>
</div>

<div class="container">
  <p class="h2 d-flex justify-content-center">My Anime List</p>
  <p class="lead d-flex justify-content-center">
    These are the list of anime saved in my DB!
  </p>
</div>
<!-- Adding item form -->

<div class="container" style="display: flex; place-content: center">
  <form action="{{url_for('index')}}" method="get" class="form-inline">
    <label for="nameInput" class="sr-only">Name</label>
    <input
      type="text"
      required
      placeholder="Enter anime name"
      name="nameInput"
      class="form-control mb-2 mr-sm-2"
    />
    <button class="btn btn-dark mb-2" type="submit">Add</button>
  </form>
</div>
{% if anime != None %}
<div class="container" style="display: flex; place-content: center">
  <p
    class="alert alert-success mr-sm-2"
    role="alert"
    style="width: max-content"
  >
    Yay! <strong> {{anime}} </strong> successfully added to the database! 😀
  </p>
</div>
{% endif %}

<!-- for loop using jinja templating -->
<div class="container anime-list">
  <ul class="list-group">
    {% for anime in mylist %}
    <li class="list-group-item text-center">{{anime}}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %} {% block footer %} {% endblock %}
